<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <%- include('css'); -%>
  </head>
  <body>
    <h1><a href="http://localhost:3000/">NODEPOP</a></h1>
    <div class="search">
      <input type="text" placeholder="Yo necesito..." class="search-bar" />
    </div>
    <div class="h2-container"><h2>Hoy, ¿qué necesitas?</h2></div>
    <div class="button">Más Barato<input type="range" min="" /> Más Caro</div>
    <%- include('menu'); -%>
    <div class="wrapper">
      <section class="mobile-ads"></section>
    </div>
    <script type="module" src="/scripts/main.js"></script>
    <script type="module" src="/scripts/filters.js"></script>
  </body>
</html>
