<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <%- include('css'); -%>
  </head>
  <body>
    <h1><a href="http://localhost:3000/">NODEPOP</a></h1>
    <div class="search">
      <input type="text" placeholder="Yo necesito..." class="search-bar" />
    </div>
    <div class="h2-container"><h2>Hoy, ¿qué necesitas?</h2></div>
    <div class="buttons">
      <button id="filter-cheapest">
        Más Barato
      </button>
      <button id="filter-most-expensive">Más Caro</button>
      <button id="selling">En venta</button>
      <button id="searching">Se Busca</button>
      <button id="filter-cheapest-prices">Precio:50-100</button>
      <button id="filter-over-onehundred">Precio: Más 100</button><br />
      <button id="filter-less-fifty">Precio:Menos 50</button><br />
      <button id="filter-exact-euros">Precio:100 Euros</button>
    </div>
    <%- include('menu'); -%>
    <div class="wrapper">
      <section class="mobile-ads"></section>
    </div>
    <script type="module" src="/scripts/main.js"></script>
    <script type="module" src="/scripts/filters.js"></script>
  </body>
</html>
