<nav class="menu">
  <a href="#motor" id="motor"
    ><img src="/images/motor-menu-icon.png" class="filter" alt="" />Motor</a
  >
  <a href="#mobile" id="mobile"
    ><img src="/images/mobile-menu-icon.png" class="filter" alt="" />Mobile</a
  >
  <a href="#work" id="work"
    ><img src="/images/work-menu-icon.png" class="filter" alt="" />Work</a
  >
  <a href="#lifestyle" id="lifestyle"
    ><img
      src="/images/lifestyle-menu-icon.png"
      class="filter"
      alt=""
    />Lifestyle</a
  >
</nav>
