<nav class="menu">
  <a href="/motor"
    ><img src="/images/motor-menu-icon.png" class="img1" alt="" />Motor</a
  >
  <a href="/mobile"><img src="/images/mobile-menu-icon.png" alt="" />Mobile</a>
  <a href="/work"><img src="/images/work-menu-icon.png" alt="" />Work</a>
  <a href="/lifestyle"
    ><img src="/images/lifestyle-menu-icon.png" alt="" />LIfestyle</a
  >
</nav>
