<nav class="menu">
  <a href="#Motor" id="motor"
    ><img src="/images/motor-menu-icon.png" class="filter" alt="" />Motor</a
  >
  <a href="#Mobile" id="mobile"
    ><img src="/images/mobile-menu-icon.png" class="filter" alt="" />Mobile</a
  >
  <a href="#Work" id="work"
    ><img src="/images/work-menu-icon.png" class="filter" alt="" />Work</a
  >
  <a href="#Lifestyle" id="lifestyle"
    ><img
      src="/images/lifestyle-menu-icon.png"
      class="filter"
      alt=""
    />Lifestyle</a
  >
</nav>
