* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
}

h2 {
  font-family: Arial, Helvetica, sans-serif, "Lucida Sans Regular";
  font-size: 25px;
  font-style: initial;
  text-align: center;
  padding: 2px;
}

.h2-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.search {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.search-bar {
  border-radius: var(--medium);
  padding: 7px;
}

.buttons {
  display: flex;
  justify-content: center;
  background-color: black;
  color: azure;
}
#button1 #button2 #button3 #button4 #button5 #button6 #button7 #button8 {
  color: azure;
  border-radius: 10px;
}

.menu {
  background-color: aqua;
  padding: var(--base);
  text-align: center;
  text-transform: uppercase;
  font-style: oblique;
}

.menu a {
  padding: var(--large);
  display: inline-flex;
  align-items: center;
}

.menu img {
  width: 40px;
}

.product-info img {
  width: 100%;
}
