.mobile-ads {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.product-info {
  border: 1px solid var(--border-colour);
  padding: var(--base);
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 70px;
  font-style: italic;
  text-align: center;
}

.container {
  overflow: hidden;
}

.filterDiv {
  background-color: azure;
  line-height: 100px;
  align-content: center;
  margin: 2px;
  display: none;
}
